<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sockets</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" rel="stylesheet">
    <link rel='stylesheet' href='/vendor/sweetalert/dist/sweetalert.css' />
    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>
  <body ng-app="chatApp" ng-controller="mainCtrl">

    <div class="chatApp">
      <div class="appContainer">
        <h1>simple chat app</h1>
        <form ng-submit="newMessage()">
          <input autofocus class="text" id="location" ng-model="message" placeholder="Enter a new message" type="text" autocomplete="off">
        </form>
      </div>
      <section id="main" ng-cloak ng-show="messages.length">
        <ul id="message-list">
          <li ng-repeat="message in messages track by $index" ng-cloak>
            <div class="view">

                <span>
                  <strong>{{message.name}}</strong>: {{message.text | censor}}
                </span>

            </div>
          </li>
        </ul>
      </section>
    </div>

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script src="vendor/socket.io-client/socket.io.js"></script>
    <script src="vendor/angular-socket-io/socket.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
